/* Main Style */

body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color:#444;
  font-weight: 400;
  position: relative;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* Name */
#name{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

#degree{
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 400;
  font-size: 1.25em;

  margin: 0 auto;
  text-align: left;
}

/* Title */
#title{
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
}

/* Section Titles */
.sectionheader{
  font-size: 3em;
  color: #1A3DBA;
  font-weight: 400;
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid #33485e;
  width: 100%;
  min-width: 300px;
}

/* Job Titles */
.jobtitle{
  font-weight: 600;
  font-size: 1.5em;
  text-align:left;
}

/* Job Organization */
.organization{
  font-weight: 400;
  font-size: 1.25em;
}

/* Job Dates */
.date{
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;

}

/* Paragraphs */
.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

/* I am not writing this correctly */
#do{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin:0 auto;
  text-align: left;
}

/* Contact Info */
/* Having trouble with the menu part */
.menu li{
  margin:0 auto;
  padding:0 auto;
  display: inline;
  list-style-type: none;
}

ul{
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

/* Banner */
.banner{
  text-align: center;
  margin: 0 auto;
  min-width: 300px;
  /* How to make the banner move with the webpage */
  width: 100%;
}

/* JumboTron */
.jumbotron{
  background-color: #B5EAFA; /*light blue*/
}

.display-4{
  text-align: center;
}

.picture{
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.card{
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.footer{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: inline;
}

.copy{
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}
